:root {
  --main: #03a9f4;
  --main-color: #ffffff;
  --font: Arial, Helvetica, sans-serif;
}

body {
  box-sizing: border-box;
  overscroll-behavior-y: contain;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: fixed;
}
.logo{
  user-select: none;
}
user{
  user-select: none;
}
nav ul li{
  font-weight: 600;
  font-size: medium;
}

.jks {
  background-color: var(--main);
  color: var(--main-color);
}
.jkp, .jkp:hover {
  background-color: var(--main-color) !important;
  color: var(--main) !important;
}

.jkp:active{
    animation: jkp-animation 0.9s ease-in-out;
    animation-fill-mode: forwards;
    -webkit-animation: jkp-animation 0.9s ease-in-out;
}
/* fade in and out */
@keyframes jkp-animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/*single line code block  */
li code {
  display: inline-block;
  color: #212121;
  padding: 2px 8px;
  margin: 0.5rem;
  border-radius: 5px;
  border: 1px solid #212121;
  font-family: monospace;
  font-size: .8rem;
  font-weight: 700;
  text-decoration: none;
  /* text-transform: capitalize; */
  /* letter-spacing: 0px; */
  transition: all 0.3s ease-in-out;
}
button{
  user-select: none;
}
li{
  color: black;
  font-size: 1em;
  list-style: none;
}
 
.notification {
  position: fixed;
  top: 30px;
  right: 0;
  z-index: 9999;
  width: 300px;
  height: 60px;
  color: #fff;
  font-size: 1.2em;
  padding: 10px;
  text-align: center;
  border-radius: 0 0 5px 5px;
  display: none;
}
  /* width: 200px;
  position: fixed;
  z-index: 120;
  right: 5px;
  height: 47px;
  top: 3em;
  border-radius: 5px;
} */
.show{
  display: block;
}
.notification-closet{
  display: flex;
  align-items: center;
  justify-content: center;
}
.notification-text{
  display: flex;
  align-items: center;
  justify-content: center;
}
.notification-closet:hover{
  cursor: pointer;
  opacity: 0.7;
}
.fon {
  font-family: var(--font);
}
.jkp-btn {
  margin: 0;
  position: fixed;
  margin: 0 auto;
  bottom: 20px;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  border-radius: 1.8em;
}
.jkp-btn:hover {
  background-color: var(--main) !important;
  color: var(--main-color) !important;
}

.cover {
  position: fixed;
  display: flex;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  align-items: center;
  justify-content: center;
  background: #1f1f1fd1;
}

.cover .container {
  position: relative;
  margin: auto;
  width: 90%;
  min-width: 200px;
  max-width: 450px;
  height: auto;
  background: #fff;
  padding: 0.6em;
  border-radius: 1.2em;
  -webkit-border-radius: 1.2em;
  -moz-border-radius: 1.2em;
  -ms-border-radius: 1.2em;
  -o-border-radius: 1.2em;
}
.cover .container  .tri{
  position: absolute;
  right: 20px;
  font-size: 27px;
  width: 30px;
  border-radius: 50%;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  user-select: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.cover .container  .tri:hover{
  background-color: #eee;
}
#like-it{
  display: flex;
  justify-content: center;
}




.jkp-btn:focus {
  background-color: var(--main-color);
  color: var(--main);
  opacity: 0.7;
}
