<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Jokes to Like</title>
  <meta name="description"
    content="Get a laugh from the most hilarious puns you will ever read with the jokes web app." />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://bethropolis.github.io/jokes-app" />
  <meta property="og:title" content="jokes to like" />
  <meta property="og:description"
    content="Get a laugh from the most hilarious puns you will ever read with the jokes web app." />
  <meta property="og:image" content="img/graphic.png" />

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content="https://bethropolis.github.io/jokes-app" />
  <meta property="twitter:title" content="jokes to like" />
  <meta property="twitter:description"
    content="Get a laugh from the most hilarious puns you will ever read with the jokes web app." />
  <meta property="twitter:image" content="img/graphic.png" />
  <meta name="theme-color" content="rgb(3, 169, 244)" />
  <!-- Windows Phone -->
  <meta name="msapplication-navbutton-color" content="rgb(3, 169, 244)" />
  <!-- iOS Safari img/web/-->
  <meta name="apple-mobile-web-app-status-bar-style" content="rgb(3, 169, 244)" />
  <link rel="apple-touch-icon" href="img/apple-touch-icon.png" />
  <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
  <link rel="manifest" href="app.webmanifest" />
  <link rel="stylesheet" href="lib/materialize/css/materialize.min.css" />
  <link rel="stylesheet" defer href="lib/materialize/css/icon.css" />
  <link rel="stylesheet" href="css/style.css" />
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/materialize/js/materialize.min.js"></script>
  <script src="lib/screenshot/screenshot.js"></script>
  <script src="lib/vue/vue.min.js"></script>
  <script src="js/swipper.js"></script>
</head>

<body class="center jks">

  <div id="app">
    <div id="notification" class="notification black d">
      <div class="notification-content row">
        <div class="notification-text center-align col s10">
          <p>{{notify}}</p>
        </div>
        <div class="notification-closet center-align col s2">
          <i class="material-icons" @click="hideNotification">close</i>
        </div>
      </div>
    </div>
    <div v-show="!displayPop" class="cover jks" style="z-index: 120;">
      <div class="container center-align hoverable">
        <div class="col tri red-text"><i class="material-icons" @click="closePop">close</i></div>
        <h3 class="black-text" v-show="view">Welcome</h3>
        <p v-show="view" class="black-text">this are your shortcuts</p>
        <h4 class="black-text" v-show="!view">please select type of joke</h4>
        <p class="black-text center-align flow-text">
        <div v-show="device && view" class="left-align">
          <li><code>swipe-up</code> to like</li>
          <li><code>swipe-left</code> go to previous entry</li>
          <li><code>swipe-right</code> go to next entry</li>
          <li><code>swipe-down</code> to toggle this popup</li>
          <li><code>click logo</code> to reload page</li>
        </div>
        <div v-show="!device && view" class="left-align">
          <li><code>arrow-keys</code> to like</li>
          <li><code>left-arrow-key</code> go to previous entry</li>
          <li><code>right-arrow-key</code> go to next entry</li>
          <li><code>down-arrow-key</code> to view liked jokes</li>
          <li><code>space key</code> to screenshot</li>
          <li><code>enter-key</code> fetch new jokes</li>
          <li><code>delete-key</code> to unlike</li>
          <li><code>C</code> to change color</li>
          <li><code>P</code> to toggle this popup</li>
          <li><code>w</code> to refresh page</li>
        </div>
        <div v-show="!view" class="">
          <div class="input-field left-align">
            <p>
              <label>
                <input class="with-gap col s12" @click="updateUrl('Any')" name="group1" type="radio" />
                <span>any</span>
              </label>
            </p>
            <p>
              <label>
                <input class="with-gap col s12" @click="updateUrl('pun')" name="group1" type="radio" checked/>
                <span>pun</span>
              </label>
            </p>
            <p>
              <label>
                <input class="with-gap col s12" @click="updateUrl('Programming')" name="group1" type="radio" />
                <span>Programming</span>
              </label>
            </p>
            <p>
              <label>
                <input class="with-gap col s12" @click="updateUrl('Miscellaneous')" name="group1" type="radio" />
                <span>Miscellaneous</span>
              </label>
            </p>
            <p>
              <label>
                <input class="with-gap col s12" @click="updateUrl('Spooky')" name="group1" type="radio" />
                <span>Spooky</span>
              </label>
            </p>
            <p>
              <label>
                <input class="with-gap col s12" @click="updateUrl('Dark')" name="group1" type="radio" />
                <span>Dark</span>
              </label>
            </p>
            </form>
            <p class="red-text"><span class="bold accent-4">*</span>some of this jokes may contain explicit, racist, political, religious and sexist content.</p>
          </div>
          <div> 
            <hr>
            <h4 class="black-text">change interface color</h4>
          <button v-show="colorTheme"  @click="colorMode" class="btn waves-effect tooltipped  waves-light  custom" data-position="top" data-tooltip="allow background to continuously change">dynamic mode
            <i class="material-icons right">bulb</i>
          </button>
          <button v-show="!colorTheme"  @click="darkMode"  class="btn waves-effect tooltipped waves-light dark" data-position="top" data-tooltip="static dark user interface">dark mode
            <i class="material-icons right">moon</i>
          </button>
          <label for="colorPick" ><a class="tooltipped z-depth-1 jks btn-floating" data-tooltip="select custom color"></a>
            <input @change="customColor" type="color" id="colorPick" hidden> 
          </label> 
        </div>
          <div class="clear">
            <hr>
            <h4 class="black-text"> clear stored jokes on device</h4>
            <label for="clearData">click below to clear</label><br>
            <button class="btn waves-effect red accent-2 waves-light" id="clearData" @click="clear" type="submit">clear
              data
              <i class="material-icons right">delete</i>
            </button>
          </div>
        </div>
        </p>
        <div v-show="view">
          <a href="https://github.com/bethropolis/jokes-app/"><button
              class="btn black darken-2 waves-effect tooltipped waves-ligh z-depth-1 text-white" data-tooltip="download source code on github">Github</button></a><br><br>
              <a href="https://www.producthunt.com/posts/jokes-to-like?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-jokes&#0045;to&#0045;like" target="_blank"><img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=338656&theme=light" alt="Jokes&#0032;to&#0032;Like - A&#0032;good&#0032;laugh&#0032;at&#0032;the&#0032;jokes&#0032;you&#0032;like | Product Hunt" style="width: 250px; height: 54px;" width="250" height="54" /></a>
        </div>
        <span class="red-text" id="cls1"></span>
      </div>
    </div>
    <nav>
      <div class="nav-wrapper logo jks">
        <a href="#" class="caption user brand-logo logo text0-accent-4 left" @click.prevent="window.location.reload()"
          title="jokes to like">J<span class="red-text">T</span>L</a>
        <ul id="nav-mobile" class="right">
          <li><a href="#" v-if="likedSwitch" class="left tooltipped" @click.prevent="loadJokes" data-tooltip="go back to feed">jokes</a></li>
          <li>
            <a href="#" v-if="!likedSwitch" @click.prevent="loadLiked" class="tooltipped" data-tooltip="liked jokes"><i
                class="material-icons">favorite</i></a>
          </li>
          <li>
            <a href="#" v-if="!likedSwitch" @click.prevent="settings" class="tooltipped" data-tooltip="edit your settings"><i
                class="material-icons">settings</i></a>
          </li>
          <li>
            <a href="#" @click.prevent="share" class="tooltipped" data-tooltip="share joke to friends"><i class="material-icons">share</i></a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- jokes counter -->
    <div v-if="likedSwitch" class="row">
      <div class="col s12">
        <p>
          <span class="red-text accent-2">{{jokesCount}}</span>
          <span class="black-text">/</span>
          <span class="red-text accent-2">{{jokesLimit}}</span>
        </p>
      </div>
    </div>
    <div class="center container  flow-text" id="joke">
      <h3 v-if="jokesCurrent.type == 'single'" class="thick">
        {{jokesCurrent.joke}}
      </h3>
      <h3 v-if="jokesCurrent.type == 'twopart'" class="thick">
        {{jokesCurrent.setup}}
      </h3>
      <h3 v-if="jokesCurrent.type == 'twopart'" class="thick">
        {{jokesCurrent.delivery}}
      </h3>
    </div>
    <button @click="likeJoke" v-show="!likedSwitch" class="center-align row btn-floating red-text jkp center action pulse">
      <span class="material-icons  center red-text center-align" id="like-it">favorite</span>
    </button>
    <button @click="removeLiked" v-show="likedSwitch" class="center-align row btn-floating red-text jkp center action pulse">
      <span class="material-icons  center red-text  center-align" id="like-it">delete</span>
    </button>
    <button @click="nextJoke" class="btn jkp jkp-btn waves-effect waves-light">another joke</button>
  </div>

  <script src="js/index.js"></script>
</body>

</html>